.envrc
.direnv
.venv
__pycache__
database/v01.json
database/v02.json
database/v03.json
database/v04.json
database/v05.json
database/v06.json
database/v07.json
database/v08.json
database/v09.json
database/v10.json
database/v11.json
database/v12.json
database/v13.json
database/v14.json
database/v15.json
database/v16.json
database/v17.json
database/v18.json
database/v19.json
database/v20.json
database/v21.json
database/v22.json
database/v23.json
database/v24.json
